.gradle/
**/build/
local.properties
*.iml

/xposed-stubs/classes/
/work/

/after-tap.*
/lsposed-*.apk
/lsposed-*.png
/lsposed-*.xml
/module-*.xml
/wallpaper-ui*
/runtime-ui*
/root-prompt*
/magisk-ui*
/su-ui*
/final-ui*
/v13-*
/date-*
/restore-*
/off-*
/import-dialog*
